DOMAIN=localhost:3000
PROTOCOL=http
NEXTAUTH_SECRET=any_random_string
NEXTAUTH_URL=$PROTOCOL://$DOMAIN
NEXT_PUBLIC_ENVIRONMENT=development

DB_USER=root
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=tweetstorm
DATABASE_URL=mysql://$DB_USER:$DB_PASSWORD@$DB_HOST:$DB_PORT/$DB_NAME

DEFAULT_USER_PASS=any_random_string

MAIL_FROM_ADDRESS="support@tweetstorm.ai"
MAIL_FROM_NAME=TweetStorm

AWS_REGION=
AWS_ACCESS_KEY=
AWS_SECRET_ACCESS_KEY=

NEXT_PUBLIC_SUPPORT_EMAIL="support@tweetstorm.ai"

NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET=
STRIPE_WEBHOOK_SECRET=

OLD_SPARK_STANDARD_MONTHLY_PLAN=price_1MSM4YJtCCQIMqSRdf2XN7mP
SPARK_STANDARD_MONTHLY_PLAN=price_1MoqimJtCCQIMqSRTWVB0hJ8
SPARK_AGENCY_MONTHLY_PLAN=price_1MqGfrJtCCQIMqSRRwB5060e

OPENAI_API_TOKEN=

TWITTER_CLIENT_ID=
TWITTER_CLIENT_SECRET=

TWITTER_REDIRECT_URI=$PROTOCOL://$DOMAIN/api/auth/callback/twitter

GOOGLE_CLIENT_ID= 
GOOGLE_CLIENT_SECRET=

GOOGLE_REDIRECT_URI=${PROTOCOL}://${DOMAIN}/api/auth/callback/google


MAILERLITE_API_TOKEN=
MAILERLITE_GROUP_ID=

NEXT_PUBLIC_GOOGLE_ANALYTICS_ID=

DEVELOPER_EMAIL=